.section-container{
    /* background-color: #9A616D */
}
.card-container{
    border-radius: 1rem
}
.img-container{
    border-radius: 1rem 0 0 1rem;
    height:"1200px"
}
.i-container{
    color: #ff6219
}

.h-container{
    letter-spacing: 1px
}
p.container{
    color: #393f81
}
.pa-container{
    color: #393f81
}
 